<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }} - {% if page.title != "" %}{{ page.title }}{{% else %}}{{ site.description }}{% endif %}</title>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" integrity="sha256-HxaKz5E/eBbvhGMNwhWRPrAR9i/lG1JeT4mD6hCQ7s4=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css" integrity="sha256-Ro/wP8uUi8LR71kwIdilf78atpu8bTEwrK5ZotZo+Zc=" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/741de133af.js"></script>

  <link rel="stylesheet" href="{{ site.baseurl | absolute_url }}/assets/css/main.css" type="text/css">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.title }}" href="{{ site.baseurl }}/feed.xml">

  <link rel="icon" type="image/png" href="{{ site.baseurl | absolute_url }}/assets/favicon-16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ site.baseurl | absolute_url }}/assets/favicon-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.baseurl | absolute_url }}/assets/favicon-96.png" sizes="96x96">

  {% seo %}

  {% include google-analytics.html %}
  {% include add-this.html %}
</head>
