.post {
  .post-title {
    margin-bottom: 10px;
  }

  .post-tags {
    .tag-list {
      list-style: none;
      margin: 10px 0 20px 0;
      padding: 0;

      .tag-list-item {
        display: inline-block;
      }
    }
  }
}

.post-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .post-list-item {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $colour-grey-light;

    @media (min-width: 40.0rem) {
      margin-top: 30px;
      margin-bottom: 30px;
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .post-list-item-header {
      h1 {
        margin-bottom: 5px;
        font-size: 3.8rem;

        @media (min-width: 40.0rem) {
          display: inline-block;
        }
      }

      .date {
        @media (min-width: 40.0rem) {
          float: right;
          margin-left: 50px;
        }
      }
    }

    .post-list-item-body {
      margin-top: 15px;
      clear: both;
    }

    .post-list-item-footer {
      text-align: right;

      .read-time {
        margin-right: 30px;
      }

      .tag-list {
        list-style: none;
        margin: 20px 0 0 0;
        padding: 0;

        .tag-list-item {
          display: inline;
        }
      }
    }
  }
}

.post-pagination {
  text-align: center;

  .post-pagination-previous {
    margin-right: 10px;

    i {
      margin-right: 10px;
    }
  }

  .post-pagination-next {
    margin-left: 10px;

    i {
      margin-left: 10px;
    }
  }
}

.tag {
  background-color: $colour-white-dark;
  padding: 5px;
  border-radius: 3px;
}
