/*--------------
  colour
  -------------- */
$colour-white-light: #FFFFFF;
$colour-white: #F8F8F9;
$colour-white-dark: #F1F2F3;

$colour-grey-light: #EDEEEF;
$colour-grey: #C0C3C5;
$colour-grey-dark: #9DA1A4;

$colour-black-light: #7D8186;
$colour-black: #6D7277;
$colour-black-dark: #4D5359;

$colour-green: #C3F73A;

$colour-orange: #FA7921;
