---
layout: default-small
---
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">
    {{ page.date | date: "%B %-d, %Y" }}
  </span>
  <div class="post-tags">
    {% include tag-list.html tags=page.tags %}
  </div>

  {{ content }}

  <!-- Share -->
  {% if page.share != false %}
    <div class="post-share">
      <hr>
      {% include share.html %}
      <hr>
    </div>
  {% endif %}

  <!-- Disqus -->
  {% if page.comments != false and site.disqus.id %}
    {% include disqus.html %}
  {% endif %}
</div>
